apiVersion: v1
kind: Service
metadata:
  name: {{ include "desktop.fullname" . }}
  labels:
    {{- include "desktop.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  {{ if eq .Values.service.type  "LoadBalancer" }}
  loadBalancerSourceRanges:
  {{- toYaml .Values.service.loadBalancerSourceRanges | nindent 10 }}
  {{ end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 6080
      protocol: TCP
      name: http
  selector:
    {{- include "desktop.selectorLabels" . | nindent 4 }}
